<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}" />
</head>
<body>
    <video class="video-background" autoplay loop muted playsinline>
  <source src="{{ url_for('static', filename='img/stars.mp4') }}" type="video/mp4">
  Your browser does not support the video tag.
</video>

    <div class="square-container">
	<i>
	<h1 class="ch">
		Choose your Language
	</h1>
	</i>
        <a href="{{ url_for('Japanese', name=name, post=post, collectionname=collectionname) }}"><button class="square-button">Japanese</button></a>
        <a href="{{ url_for('Hindi', name=name, post=post, collectionname=collectionname) }}"><button class="square-button" >Hindi</button></a>
    </div>
</body>
</html>
